* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: aquamarine;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;

}

.girl {
    width: 400px;
    clip-path: circle();
}